@import "~src/mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: 7px;

  .controls {
    display: flex;
    gap: 7px;
  }

  .subs-show-detail {
    cursor: pointer;
  }

  .subs-container {
    display: flex;
    gap: 14px;

    td {
      transition: color .3s, background .3s !important;
    }

    &::ng-deep {
      .ant-table-body {
        @include scrollbar();
        overflow-y: auto !important;
        min-height: calc(100vh - 155px);
      }
    }
  }
}
